<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xu.xuoj.mapper.UserGameMapper">

    <resultMap id="BaseResultMap" type="com.xu.xuoj.model.entity.UserGame">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="userId" column="userId" jdbcType="BIGINT"/>
        <result property="gameId" column="gameId" jdbcType="BIGINT"/>
        <result property="registrationTime" column="registrationTime" jdbcType="TIMESTAMP"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="isOfficial" column="isOfficial" jdbcType="TINYINT"/>
        <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,userId,gameId,
        registrationTime,status,isOfficial,
        createTime,updateTime
    </sql>
</mapper>
